button.hiddenBtn, button.edittingBtn{display:none;}


.form{
  input, select{
    border:1px solid rgba(0,0,0,0);
    // min-height:38px;
  }
  input:disabled, select:disabled{
    background-color:rgba(0,0,0,0) ;
    -webkit-appearance: none;
  }
}

.form:hover{
  button.hiddenBtn{display:block;}

}

.edittingForm{
  button.edittingBtn{display:block;}

}