button.reservationBtn{
  padding: 0.3rem ;
  font-size: 0.8rem;
  line-height: 0.8rem;
  background-color: rgba(0,0,0,0);
  color: #333;
  border: 0;
}

span.time{
  display: inline-block;
  width: 2.1rem;
  font-size: 0.7rem;
  color: #666;
  border-right: 1px solid #eee;
}