$header-background:#ccc;
$border-color:#ddd;
$btn-color: #666;

.calendar ul{
  list-style-type: none;
  font-size:0;
  padding-left:0;
  >li{
    display:inline-block;
  }
}
.calendar li.cal-col {
  font-size:1.0rem;
  width: calc(calc(100% / 7) + 1px);
  margin-right: -1px;
  border:1px solid $border-color;
}
ul.calendar-header{
  padding:0;
  >li{
    margin:0;
    font-size:1.0rem;
    text-align:center;
    background-color:$header-background;
  }
}
ul.calendar-week{
  >li{
    margin-top:-1px;
    width:100%;

  }
}

li.cal-day {
  // min-height:5rem;
  >div.dateLabel{
    text-align:center;
    min-height:5rem;
    width:1rem;
    display:inline-block;
  }
  >div.dateContent{
    width:calc(100% - 1rem);
    display:inline-block;
  }
  >div{ 
    .btn-trans{
      background-color: rgba($btn-color, 0.1);
      border:1px solid;
      border-color: rgba($btn-color, 0.05);
    }
  }
}

li.cal-day:hover{
  >div{
    .btn-trans{
      background-color: rgba($btn-color, 1.0);
      border:1px solid;
      border-color: rgba($btn-color, 1.0);
    }
  }
}

li.cal-day.today{
  background-color:#ffa
}

