$header-background:#ccc;
$border-color:#ddd;
$btn-color: #666;

table.calendar{
  width:100%;
  colgroup>col{
    width: calc(100% / 7)
  }

  td, th{
    border:1px solid $border-color;
    vertical-align: top
  }

  th{
    text-align:center;
    background-color:$header-background;
  }

  td{
    min-height:6rem;
    >ul>li{ 

      .btn-trans{
        background-color: rgba($btn-color, 0.1);
        border:1px solid;
        border-color: rgba($btn-color, 0.05);
      }
    }

    >div.dateLabel{
      font-size:0.8rem;
      text-align:center;
      min-height:6rem;
      width:1rem;
      float:left;
      // display:inline-block;
    }

    >ul.dateContent{
      padding-left:0;
      width:calc(100% - 1rem);
      float:right;
      // display:inline-block;
      min-height:5rem;
      >li{
        display:block;
        font-size:1rem;
      }
    }
  }
  
  td:hover{
    >ul>li{
      .btn-trans{
        background-color: rgba($btn-color, 1.0);
        border:1px solid;
        border-color: rgba($btn-color, 1.0);
      }
    }
  }

  td.today{
    background-color:#ffa
  }

}



