.customerSelector{
  position: absolute;
  min-width: 300px;
  // min-height: 200px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  z-index: 9999;
}

.hidden {
  display:none;
}

.buttonsContainer{
  width:100%;
  text-align:right;
}